@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
  .largeScreenNav {
    @apply md:flex  justify-center items-center gap-16 flex-row hidden static w-auto translate-x-0 bg-transparent p-0;
  }
  .mobileNav {
    @apply absolute w-[90%] -translate-x-1/2 left-1/2 bg-pale-blue -top-[200px]  p-4 flex  flex-col gap-3 justify-center rounded-md transition-all duration-300 items-center md:hidden;
  }
  .mobileNav.show {
    @apply top-[65px];
  }

  .sectionHeader {
    @apply text-2xl font-bold;
  }
  .foot {
    @apply pt-4 pb-2 text-gray-200  border-t-2 border-gray-600 text-center flex flex-col gap-1 items-center justify-center;
  }
  .hero {
    background-image: url("./assets/images/collection-background.svg");
    background-size: cover;
  }
  .main-btn {
    @apply px-6 py-2 bg-coral-red rounded-full text-white my-3;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff6452;
  border-radius: 10px;
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
